.active-point{border: solid 2px rgba(255,255,255,255) !important;}
.point-out{
	border-radius: 50%;
	border: solid 2px rgba(255,255,255,0);
	height: 10px;
	margin: 10px auto;
	padding: 10px;
	width: 10px;
	transition: all 0.5s;
}
.point-in{
	background-color: white;
	border-radius: 50%;
	height: 10px;
	margin: auto;
	width: 10px;
}

.point{
	position: absolute;
	color: white;
	text-decoration: none;
}
.point div{
	background-color: #109424;
	border-radius: 50%;
	font-size: 26px;
	padding: 9px 19px;
	height: 50px;
	width: 50px;
	box-sizing: border-box;

	transition: all 0.5s;
}
.point div:hover{ 
	background-color: #36D94F;
	transform: rotate(360deg);
}

.p0{left: 600px; top: 100px;}
.p1{left: 900px; top: 50px;}
.p2{left: 1200px; top: 100px;}
.p3{left: 500px; top: 300px;}
.p4{left: 1400px; top: 300px;}

#main-container{
}

#historia-section{
	background-position: center center;
	background-size: 100% 100%;
	height: 100vh;
	padding: 50px;
}
#main-container .bg-pueblo{
	background-image: url(../img/bg-historia.jpg);
}
#main-container .bg-ciudad{
	background-image: url(../img/bg-ciudad.jpg);
	background-size: 150% 100%;
}
#main-container .bg-cocina{
	background-image: url(../img/bg-cocina.jpg);
}
#main-container .bg-cosecha{
	background-image: url(../img/bg-cosecha.jpg);
}

#main-container #historia-section #menu{
	color: white;
	text-align: center;
}

#main-container #historia-section #menu > h2{
	font-size: 100px;
	margin-top: -50px;
}

#main-container #historia-section #menu > h3{
	font-size: 50px;
	margin-top: -80px;
}

#main-container #historia-section #menu ul li{
	margin: 0 30px;
}

#main-container #historia-section #menu ul li a{
	color: white;
}

#main-container #historia-section #menu ul li a:hover > .point-out{
	border-color: rgba(255,255,255,1);
}

#main-container #points-container{
	position: absolute;
}

#main-container #points-info{
	background-color: rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#main-container #points-info div{
	background-color: white;
	width: 80%;
	height: 80%;
	margin: 50px auto;
	padding: 100px;
	text-align: center;
	box-sizing: border-box;
}



