*{
	font-family: 'Source Sans Pro', sans-serif;
}
body{
	padding: 0;
	margin: 0;
}

h2{font-family: 'Playfair Display SC', serif;}

h3{font-family: 'Kaushan Script', cursive;}

ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

li{
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.btn{
	border-radius: 40px;
	border: solid 10px;
	padding: 10px 50px;
	color: white;
	text-decoration: none;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.btn-vrd{
	background-color: #109424;
	border-color: rgba(16, 148, 36, 0.5);
	transition: background-color 1s;
}
.btn-vrd:hover{
	background-color: #36D94F;
}


#main-container{
}

#main-container #main-section{
	background-image: url(../img/home.jpg);
	background-size: 100%;
	height: 100vh;
	padding: 50px;
}

#main-container #logo{}

#main-container #logo{
	width: 129px;
	text-align: center;
}

#main-container #logo #back{
	padding: 20px 0;
}
#main-container #logo #back a{
	color: white;
	text-decoration: none;
}
#main-container #logo #back a:hover{
	color: white;
	text-decoration: underline;
}

#main-container #main-section #menu{
	text-align: center;
}



#main-container #main-section #menu ul li{
	margin: 100px 50px;
	height: 100px;
	width: 250px;
	overflow: hidden;

	transition: all 1s;
}

#main-container #main-section #menu ul li:hover{
	height: 400px;
	margin-top: -50px;
}

#main-container #main-section #menu ul li:hover > div a h3{
	opacity: 1;
	margin-top: -10px;	
}


#main-container #main-section #menu ul li a{
	color: white;
	text-decoration: none;
	height: 100px;
}

#main-container #main-section #menu ul li a h2{
	font-size: 48px;

}

#main-container #main-section #menu ul li a h3{
	font-size: 36px;
	opacity: 0;
	transition: all 1s;
	transition-delay: 0.1s;
}

#main-container #main-section #menu ul li a p{}

#footer{
	background-color: black;
	color: white;
	padding: 50px;
}

#footer ul li{
	display: inline-block;
	padding: 0 40px;
	vertical-align: top;
}

#footer ul li a{
	color: #aaa;
	display: inline-block;
	vertical-align: top;
	transition: color 1s;
}
#footer ul li a:hover{
	color: #fff;
}


